<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/images/bookstore logo.jpg">
        <title>Home</title>
        <link href="/styles/home.css" rel="stylesheet" type="text/css" />
        <!-- <script src="/scripts/script.js" defer></script> -->
    </head>

    <body>
        <%- include('../templates/header'); %>
        <div class="search-container">
            <form action="search" id="form">
                <input
                    type="search"
                    id="search-area"
                    name="q"
                    placeholder="Search"
                />
                <button><span>🔍</span></button>
            </form>
        </div>

        <div class="book-list-container" id="book-list">
            <div class="title">Top truyện tranh được đánh giá cao</div>
            <div class="row">
                <% for(const num in comic) { %> 
                    <div class="column">
                        <div class="book-card">
                            <img class="poster" src="/images/book.png">
                            <p class="name-book"><%= comic[num].title %></p>
                            <p class="price"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(comic[num].price) %></p>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="title">Top sách tham khảo được đánh giá cao</div>
            <div class="row">
                <% for(const num in reference) { %> 
                    <div class="column">
                        <div class="book-card">
                            <img class="poster" src="/images/book.png">
                            <p class="name-book"><%= reference[num].title %></p>
                            <p class="price"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(reference[num].price) %></p>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="title">Top tạp chí được đánh giá cao</div>
            <div class="row">
                <% for(const num in magazine) { %> 
                    <div class="column">
                        <div class="book-card">
                            <img class="poster" src="/images/book.png">
                            <p class="name-book"><%= magazine[num].title %></p>
                            <p class="price"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(magazine[num].price) %></p>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="title">Top tiểu thuyết được đánh giá cao</div>
            <div class="row">
                <% for(const num in novel) { %> 
                    <div class="column">
                        <div class="book-card">
                            <img class="poster" src="/images/book.png">
                            <p class="name-book"><%= novel[num].title %></p>
                            <p class="price"><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(novel[num].price) %></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
</html>
